body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

textarea {
    width: 80%;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
}